/*Setting pagina centrale e opacità*/
.container{
  width:1000px;
  height:700px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1%;
}

/*Setting pagina background e relativo testo*/
body{
  background-image: url(img/background.jpg);
  font-family: Be Vietnam Pro;
  box-sizing: border-box;
  background-size: cover;
 }

 main,a{
  color: #FFFFFF;
}

img{
  width: 200px;
  margin-left: 40%;
}

/*Setting titolo*/
.title{
  font-size: 30px;
  color: #32CD32;
  text-align: center;
}
/*Setting Button e riga background green*/
.ricerca{
  background-color: #32CD32;
  width: 85%;
  padding: 7px;
  text-align: center;
  font-size: 20px;
}

div > span,a{
  display: block;
}

div > h3{
  display: inline-block;
}

h3, .m1, .ricerca, .title{
  margin: auto;
}

.m1{
  padding: 30px;
}
/*Setting colore barre di stato ricarica*/
div.orange{
  background-color: #ff9800;
  width: 300px;
}

div.green{
  background-color: #04AA6D;
  width: 500px;
}

div.red{
  background-color: #f44336;
  width: 100px;
}
/*Posizionamento e dimensioni barre di stato ricarica*/
div.barra{
  height: 25px;
  border-radius: 5px;
  text-align: center;
}
